button, body {
  font-family: "Indie Flower", cursive;
  text-transform: capitalize;
}

.content, .grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-box:hover, button:hover, button {
  border-top: 3px solid #ff4141;
  border-right: 3px solid #4de54d;
  border-bottom: 3px solid blue;
  border-left: 3px solid #4de54d;
}

body {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  letter-spacing: 0.5px;
  background-color: #232323;
}

.red {
  color: #ff4141;
}

.green {
  color: #4de54d;
}

.blue {
  color: blue;
}

.header {
  position: relative;
  margin-bottom: 20px;
  padding: 1em;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 2rem;
}

button {
  width: 140px;
  padding: 10px;
  color: white;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  background: none;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}

button:hover {
  color: white;
  box-shadow: 0px 0px 10px;
}

.player-button,
.ai-button {
  opacity: 0;
  visibility: hidden;
}

.form-grid {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.game-status {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-size: 2.1rem;
  transition: all 0.5s ease-in;
}

form {
  opacity: 0;
  transition: all 0.4s ease-in;
  visibility: hidden;
  text-align: center;
}
form .form-text {
  margin: 5px 0;
}
form .names-input {
  height: 30px;
  width: 130px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  border: none;
}

.grid-container {
  max-width: 400px;
  margin: 0 auto;
  display: none;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0;
}

.grid-box {
  height: 130px;
  max-height: 130px;
  color: white;
  border: 3px solid rgba(255, 255, 255, 0.887);
}

.content {
  width: 50px;
  height: 50px;
  font-size: 3em;
}

#box1 {
  border-left: none;
  border-top: none;
}

#box2 {
  border-top: none;
}

#box3 {
  border-top: none;
  border-right: none;
}

#box4 {
  border-left: none;
}

#box6 {
  border-right: none;
}

#box7 {
  border-left: none;
  border-bottom: none;
}

#box8 {
  border-bottom: none;
}

#box9 {
  border-right: none;
  border-bottom: none;
}

.space {
  display: block;
  height: 5px;
  width: 5px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 1;
  font-size: 6em;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
