$red: rgb(255, 65, 65);
$green: rgb(77, 229, 77);
$light-blue: #73a5de;

%font {
    font-family: 'Indie Flower', cursive;
    text-transform: capitalize;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%rgb-border {
    border-top: 3px solid $red;
    border-right: 3px solid $green;
    border-bottom: 3px solid blue;
    border-left: 3px solid $green;
}

body {
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;

    @extend %font;

    background-color: #232323;
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.blue {
    color: blue;
}

.header {
    position: relative;
    margin-bottom: 20px;
    padding: 1.0em;
    z-index: 2;

    color: white;
    text-align: center;
    font-size: 2rem;
}

button {
    padding: 10px;

    @extend %font;
    color: white;
    font-size: 0.7em;

    background: none;
    @extend %rgb-border;

    transition: all 0.5s;
}

button:hover {
    color: white;
    @extend %rgb-border;
    box-shadow: 0px 0px 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
    margin: 0 auto;
}

.grid-box {
    @extend %flex-center;
    height: 130px;
    max-height: 130px;

    color: white;
    
    border: 3px solid rgba(255, 255, 255, 0.887);
    visibility: hidden;
}

.content {
    @extend %flex-center;
    width: 50px;
    height: 50px;

    font-size: 3em;
}

.grid-box:hover {
    @extend %rgb-border
}

#box1 {
    border-left: none;
    border-top: none;
}

#box2 {
    border-top: none;
}

#box3 {
    border-top: none;
    border-right: none;
}

#box4 {
    border-left: none;
}

#box6 {
    border-right: none;
}

#box7 {
    border-left: none;
    border-bottom: none;
}

#box8 {
    border-bottom: none;
}

#box9 {
    border-right: none;
    border-bottom: none;
}

.space {
    display: block;
    height: 5px;
    width: 5px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 1;
    font-size: 6em;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    animation: animate 20s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 0;
    }

}